.formControl {
  width: 30%;
  margin-top: 25px !important;
  background-color: rgb(15, 15, 15) !important;
}

.select {
  color: white !important;
  background-color: rgb(15, 15, 15) !important;
}

.optionC {
  background-color: rgb(15, 15, 15) !important;
}
